<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.extensaoufpb.extensaoufpb">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/app_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.ui.participant.ParticipantsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ui.register.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ui.project.EditProjectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ui.candidate.CandidatesActivity"
            android:screenOrientation="portrait" />
      
        <activity
            android:name=".activity.ui.process_selection.SelectionProcessActivity"
            android:screenOrientation="portrait" />
      
        <activity
            android:name=".activity.ui.suggestions.SuggestionsActivity"
            android:screenOrientation="portrait" />
      
        <activity
            android:name=".activity.ui.project.SignProjectActivity"
            android:screenOrientation="portrait"/>
      
        <activity
            android:name=".activity.ui.profile.PerfilActivity"
            android:screenOrientation="portrait"/>
      
        <activity
            android:name=".activity.ui.profile.EditPasswordActivity"
            android:screenOrientation="portrait"/>
      
        <activity
            android:name=".activity.ui.profile.EditPerfilActivity"
            android:screenOrientation="portrait"/>
      
        <activity
            android:name=".activity.ui.register.RegisterDataActivity"
            android:screenOrientation="portrait" />
      
        <activity
            android:name=".activity.ui.register.RegisterNewsActivity"
            android:screenOrientation="portrait">
        </activity>
      
        <activity
            android:name=".activity.ui.suggestions.NewProjectSuggestionActivity"
            android:screenOrientation="portrait">
        </activity>
      
        <activity
            android:name=".activity.ui.suggestions.SubmitSuggestionActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
      
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
      
        <activity
            android:name=".activity.ui.process_selection.OpenSelectionProcessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_extensao"
            android:screenOrientation="portrait">
          
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />      
        <activity
            android:name=".activity.ui.base.BaseActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:screenOrientation="portrait" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />


</manifest>